*{
    background-color: black;
}
body{
       color: white;
        padding:20px;
        text-align: center;
      
}
.logo{
    text-align:center;
    padding-top: 50px;;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-bottom-style: 2px solid white;
   
  }
  
  /* Links inside the navbar */
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width:20%;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;

}
.open {
     
    padding: 20px;
    width: 50%;
    margin: 0 auto;
  
}


.red{background-color: #C73631;}


h2, h2 p{
    text-align:center;
    
}
.table{
	background-color: black;
	height: auto ;
	max-width: 600px;;
	display: block;
    margin-left: auto;
	margin-right: auto ;
	padding: 20px;
	
	
 
}

.table{
    background-color: white;
    color:black; 
}
.table h2{
	color: black; 
	background-color: white;
	width: 35%;
	text-align: center;
	padding-bottom: 8px; 
	margin-top:-15px;
	margin-left: 33%; 
	
}

td{
	
	margin: 10px;
	padding: 10px;	
	color: white; 
	text-align: left; 
	border: solid 5 white; 
	width: max-content;	
	}

  .rules{ 
      padding-top: 50px;
  }
  .neg-margin{
       padding-top: 40px;
      
  }