html {
    font-size: 100%;
    background-color: black;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
body {
    background: black;
    color: white;
    font-family: "Montserrat", sans-serif;
  }
  
h1{
    text-align: center;
}

h3 {
    text-align: center;
    padding-bottom: 20px;
}
.nav-container {
    background: #070707;
    /*position: -webkit-sticky;
    position: sticky;*/
    top: 0;
    z-index: 2;
  }
  
  nav {
    width: 80%;
    margin: auto;
    min-height: 10vh;
    padding: 3rem 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    list-style: none;
  }
  
  nav #logo {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    position: relative;
  }
  
  nav #logo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 6rem;
    background:  #ccb779;
    
    -webkit-transform: translate(-10%, -20%);
            transform: translate(-10%, -20%);
    mix-blend-mode: screen;
  }
  
  nav .order {
    display:flex;
    background: #f54538;
    padding: 1rem 2rem;
    border-radius: 2rem;
  }

  a {
    color: white;
    text-decoration: none;
  }
/**
 * Tabs
 */
 .tabs {
	display: flex;
    flex-wrap: wrap; /* make it wrap */
    margin: 2em;
}
.tabs label {
	order: 1; /* Put the labels first*/
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
  background: #CCB779;
  font-weight: bold;
  transition: background ease 0.2s;
}
.tabs .tab {
  order: 99; /* Put the tabs last */
  flex-grow: 1;
	width: 100%;
	display: none;
  padding: 1rem;
  background:black;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
    background: #CCB779;
    color: black;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

/**
 * Generic Styling
*/
body {
  background-color: black;
  min-height: 100vh;
	box-sizing: border-box;
	padding-top: 10vh;
  font-family:"Montserrat", sans-serif; 
  font-weight: 300;
  line-height: 1.5;
  max-width: 60rem;
  margin: 0 auto;
  font-size: 112%;
}

footer {
    min-height: 10vh;
    background: black;
    padding-left: 10%;
    padding-right: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    list-style: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  footer h1 {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;

  }

  @media screen and (max-width: 1200px) {
    html {
      font-size: 100%;
    }
    nav #logo {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
    }
    nav ul li {
      margin-left: 5rem;
    }
    nav ul li a{
        font-size: 125%;
    }
}