body{
    margin: 0;
    color: blue;
}
.grid-container {
    display: grid;
    min-height: 100vh;
   grid-template-columns:  1fr;
   grid-template-rows: 3fr 3fr 3fr 3fr 3fr;
   grid-template-areas:
     "hero   hero"
     "menu1   menu1"
     "menu2 menu2"
     "menu3 menu3"
    
    ;
}
.hero    { grid-area: hero ; }
.menu1       { grid-area: menu1; }
.menu2       { grid-area: menu2; }
.menu3      { grid-area: menu3; }
.images     { grid-area: images; }
.where       { grid-area: where; }
.location      { grid-area: location; }
.map       { grid-area: map; }



.box {
    display: flex-wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
   
  }
