img, a img { border: 0px; }
.clear { display: inline-block; }
.clear::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
* html .clear { height: 1%; }
.clear { display: block; }
ul.mod { list-style: none; margin: 0px; padding: 0px; }
ul.mod li { list-style: none; }
ul.form { margin: 0px; padding: 0px; }
ul.form li { list-style: none; margin: 0px 0px 18px; }
ul.form li label { color: rgb(136, 136, 136); display: block; }
div.form div.item, div.webform div.item { padding: 9px; }
cat_button { }
input.cat_textbox, textarea.cat_listbox, select.cat_dropdown, select.cat_listbox { width: 300px; }
.cat_dropdown_small { width: 200px; }
.cat_dropdown_smaller { width: 150px; }
.cat_textbox_small, .cat_listbox_small { width: 200px; }
.cat_listbox { height: 120px; width: 300px; }
table.webform, table.reporting { border-collapse: collapse; border-spacing: 0px; width: 100%; }
table.webform td { line-height: 24px; padding: 6px; }
.form label, .webform label { font-size: 11px; }
.form input, .webform input { margin-right: 3px; }
.system-message, .system-error-message { background-color: rgb(249, 249, 249); border: 1px solid rgb(238, 238, 238); color: rgb(102, 102, 102); margin: 18px; min-height: 110px; padding: 36px 36px 36px 180px; height: auto !important; }
.system-message h1, .system-error-message h1 { color: rgb(0, 0, 0); margin: 0px 0px 18px; }
.system-message a:link, .system-error-message a:link { color: rgb(25, 105, 188); }
.ok { background: rgb(233, 251, 227); color: rgb(33, 163, 71); margin-bottom: 18px; }
.error { background: rgb(251, 227, 228); color: rgb(209, 47, 25); margin-bottom: 18px; }
.announcement-list { font-size: 11px; }
.announcement-list h2 { font-size: 14px; margin: 0px 0px 3px; }
.announcement-list span.date { font-size: 10px; font-weight: normal; margin: 0px 0px 0px 6px; }
.announcement-details span.date { display: block; font-size: 10px; font-weight: normal; margin-bottom: 18px; }
.blog-list { background: rgb(249, 249, 249); border: 1px solid rgb(238, 238, 238); color: rgb(0, 0, 0); font-size: 11px; margin: 0px 0px 18px; padding: 18px; }
.blog-list h2 { font-size: 18px; margin: 0px 0px 3px; }
.blog-list span { color: rgb(136, 136, 136); }
.blog-container h1 { font-size: 36px; line-height: 40px; margin: 0px 0px 6px; }
.blog-container p.description { margin: 0px 0px 36px; }
.blog-post h2.post-title { border-bottom: 1px solid rgb(204, 204, 204); font-size: 18px; margin: 0px; padding: 0px 0px 3px; }
.blog-post .post-details { color: rgb(136, 136, 136); font-size: 11px; margin: 0px 0px 18px; }
.blog-container .post-list { float: left; width: 69%; }
.blog-post .post-body { margin: 0px 0px 36px; }
.comment-list { background: rgb(249, 249, 249); border: 1px solid rgb(238, 238, 238); margin-bottom: 36px; padding: 18px; }
.comment-list h5 { font-size: 14px; margin: 0px 0px 18px; }
.comment-list input#Captcha { width: 300px; }
.comment-list textarea.cat_listbox_small { height: 120px; width: 100%; }
.blog-comment-container { border: 1px solid rgb(233, 233, 233); margin: 0px 0px 18px; }
.blog-comment-container .comment-details { background: rgb(238, 238, 238); font-size: 11px; padding: 6px; }
.blog-comment-container .comment { background: rgb(255, 255, 255); padding: 9px; }
span.flag { margin: 0px 6px; vertical-align: middle; }
input#fullname, input#website, input#emailaddress { width: 300px; }
textarea.comment { height: 160px; width: 100%; }
.forum-registration textarea.comment { height: 70px; width: 270px; }
.post-body .links { font-size: 11px; }
.blog-container .side-panel { float: right; width: 27%; }
.side-panel h4 { font-size: 12px; margin: 0px 0px 9px; }
.BlogTagCloud { margin: 0px 0px 18px; }
.BlogRecentPost ul, .BlogTagList ul, .BlogPostArchive ul { margin: 0px; padding: 0px; }
.BlogRecentPost li, .BlogTagList li, .BlogPostArchive li { font-size: 11px; list-style: none; margin: 0px 0px 9px; }
p.page-nav { text-align: center; }
p.page-nav a { margin: 0px 9px; }
.blog-post dl { background: rgb(249, 249, 249); border: 1px solid rgb(238, 238, 238); margin: 0px 0px 18px; padding: 18px; }
.blog-post dt { color: rgb(0, 0, 0); }
.blog-post dd { margin: 0px 0px 9px; }
.booking-list { margin: 0px 0px 9px; }
.booking-list span.date { margin: 0px 9px 0px 0px; }
.booking-container h1, .form-container h2 { margin: 0px 0px 18px; }
.form-container { background: rgb(249, 249, 249); border: 1px solid rgb(238, 238, 238); padding: 18px; }
.form-container input#FirstName, .form-container input#LastName, .form-container input#EmailAddress, .form-container input#Company, .form-container input#WorkPhone { width: 260px; }
.go-back { margin: 18px 0px; }
div.select-month-year { padding: 9px 0px; }
table.module-calendar { border: 1px solid rgb(136, 136, 136); border-collapse: collapse; table-layout: fixed; width: 100%; }
table.module-calendar td { border: 1px solid rgb(215, 215, 215); font-size: 11px; height: 80px; overflow: hidden; padding: 0px; vertical-align: top; }
table.module-calendar td span { background: rgb(247, 247, 247); color: rgb(51, 51, 51); display: block; font-size: 11px; padding: 0px 2px; text-align: right; }
tr.day-of-week td { background: rgb(215, 215, 215); color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; height: 18px; text-align: center; vertical-align: middle; }
table.module-calendar td.events span { background: rgb(43, 171, 250); color: rgb(255, 255, 255); font-weight: bold; }
table.module-calendar td.events { background: rgb(238, 245, 250); }
table.module-calendar td ul { margin: 9px 0px; padding-left: 24px; }
table.module-calendar td.last-month { background: rgb(238, 238, 238); }
table.module-calendar td.next-month { background: rgb(238, 238, 238); }
.shop-catalogue { background: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); float: left; height: 180px; margin: 0px 6px 6px 0px; overflow: hidden; width: 180px; }
.shop-catalogue h4 { font-size: 12px; height: 27px; line-height: 27px; margin: 0px; text-indent: 9px; }
.shop-catalogue h4 a { color: rgb(25, 105, 188); text-decoration: none; }
.shop-catalogue .image { height: 120px; margin: 0px auto; overflow: hidden; padding: 15px; text-align: center; }
.shop-main { margin-top: 18px; }
.shop-main .header { border-bottom: 1px solid rgb(238, 238, 238); height: 27px; line-height: 27px; margin: 0px 0px 18px; }
.shop-main .breadcrumbs { float: left; width: 40%; }
.shop-main .cart-summary { float: right; width: 40%; }
.shop-main .description ul { margin: 0px 0px 0px 18px; padding: 0px; }
.shop-main .description li { list-style: square; }
table.cartSummaryTable { border-collapse: collapse; border-spacing: 0px; font-size: 12px; float: right; }
td.cartSummaryItem { padding: 0px; }
a.cartSummaryLink { margin: 0px 0px 0px 18px; }
.shop-main ul { margin: 0px; padding: 0px; }
.shop-main li { list-style: none; }
table.catalogueTable { border-collapse: collapse; border-spacing: 0px; width: 100%; margin: 0px 0px 18px; }
table.catalogueTable td { padding: 0px; }
table.productTable { border-collapse: collapse; border-spacing: 0px; table-layout: fixed; width: 100%; }
table.productTable td { padding: 3px; }
.shop-product-small { background: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); color: rgb(102, 102, 102); }
.shop-product-small h5 { font-size: 12px; font-weight: normal; margin: 0px; min-height: 36px; padding: 18px 18px 6px; }
.shop-product-small h4 a { color: rgb(25, 105, 188); }
.shop-product-small h5 a { text-decoration: none; }
.shop-product-small ul { background: rgb(249, 249, 249); padding: 18px; }
.shop-product-small ul li { font-size: 11px; margin: 0px 0px 6px; }
.shop-product-small li.price { font-size: 11px; }
.shop-product-small li.price strong { font-size: 14px; margin-left: 6px; }
.shop-product-small li.stock { font-size: 11px; }
.shop-product-small li.stock strong { color: rgb(102, 102, 102); margin-left: 3px; }
.shop-product-small .image { height: 120px; margin: 0px auto 9px; overflow: hidden; width: 120px; text-align: center; }
.image a, td.actions a { border: none !important; }
.shop-product-small li.quantity { line-height: 30px; }
li.quantity img { position: relative; top: 8px; }
.shop-product-small li.quantity input.productTextInput { width: 50px; }
.shop-product-small li.quantity input.productSubmitInput { }
.shop-product-large { background: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); color: rgb(102, 102, 102); margin: 0px 0px 18px; min-width: 240px; overflow: hidden; }
.shop-product-large h1 { color: rgb(0, 0, 0); font-size: 14px; }
.shop-product-large .image { margin-left: 36%; min-height: 360px; padding: 18px; text-align: center; height: auto !important; }
.shop-product-large .shop-product-small .image { margin: 0px; min-height: 160px; padding: 18px; text-align: center; width: auto; height: auto !important; }
.shop-product-large .shop-product-small ul { padding: 9px; }
.shop-product-large .shop-product-small ul, .shop-product-large .shop-product-small li { margin: 0px; }
.shop-product-large li.price { font-size: 14px; }
.shop-product-large li.instock { font-size: 10px; }
.shop-product-large li.quantity input.productTextInput { width: 50px; }
td.productItem .comment-form input#Captcha { width: 300px; }
.poplets { border-top: 1px solid rgb(238, 238, 238); margin-top: 36px; padding: 9px 0px; }
.poplets img { border: 1px solid rgb(221, 221, 221); }
table.productPoplets { border-collapse: collapse; border-spacing: 0px; margin: 0px auto; }
.shop-product-large .details { background: rgb(249, 249, 249); float: left; min-height: 360px; padding: 18px; width: 30%; height: auto !important; }
.shop-product-large ul { margin: 0px 0px 36px; padding: 0px; }
.shop-product-large li { margin: 9px 0px; }
.shop-cart .breadcrumbs { margin: 0px 0px 18px; }
table.cart { background: rgb(255, 255, 255); border-collapse: collapse; border-spacing: 0px; border: 1px solid rgb(221, 221, 221); font-size: 11px; width: 100%; }
table.cart td { vertical-align: top; }
table.cart a { color: rgb(25, 105, 188); }
table.cart th, table.cart td { color: rgb(102, 102, 102); padding: 9px; }
tr.val td { border-bottom: 1px solid rgb(238, 238, 238); }
tr.shipping td { border-bottom: 1px solid rgb(221, 221, 221); }
tr.discount td.quantity, tr.shipping td.quantity { text-align: right; }
td.quantity input.update { margin: 0px 0px 0px 3px; }
table.cart th { background: rgb(249, 249, 249); border-bottom: 1px solid rgb(238, 238, 238); color: rgb(0, 0, 0); font-size: 11px; font-weight: normal; text-align: left; }
input.cartInputText { width: 70px; }
input#DiscountCode, input#GiftVoucher { width: 70px; }
select.shippingDropDown { width: 150px; }
table.cart th.quantity { text-align: right; }
table.cart td.quantity { text-align: right; }
.productitemcell { height: 23px; line-height: 20px; margin: 0px 0px 3px; overflow: hidden; }
table.cart td.actions { text-align: right; }
table.cart td.actions a { font-size: 12px; font-weight: bold; margin: 0px 18px 0px 0px; text-decoration: none; }
a#catshopclear { font-size: 10px; font-weight: normal; }
table.cart strong { font-size: 14px; }
.shop-form { margin: 0px 0px 18px; }
.shop-form ul.form { background: rgb(249, 249, 249); border: 1px solid rgb(238, 238, 238); padding: 18px; }
.shop-form label { font-size: 11px; }
.shop-form ul.form li { margin: 0px; padding: 9px 0px; }
.shop-form li.last { border-top: 1px solid rgb(238, 238, 238); }
input.PaymentMethodType { margin: 0px 6px 0px 0px; }
.shop-form ul.form input.cat_textbox, .shop-form ul.form select.cat_dropdown, .shop-form ul.form textarea.cat_listbox { width: 260px; }
.shop-form textarea.cat_listbox { height: 100px; }
.shop-receipt, .shop-quote-receipt { background: rgb(249, 249, 249); border: 1px solid rgb(238, 238, 238); margin: 18px; padding: 18px; }
.shop-receipt h1, .shop-quote-receipt h1 { border-bottom: 1px solid rgb(204, 204, 204); padding: 0px 0px 3px; }
.shop-receipt h2, .shop-quote-receipt h2 { font-size: 12px; font-weight: normal; }
table.case-list { border-collapse: collapse; border-spacing: 0px; margin: 0px; width: 100%; }
table.case-list td { padding: 6px; }
table.case-list td.subject, table.case-list td.category { width: 40%; }
table.case-list td.status { width: 20%; }
table.case-details { background: rgb(249, 249, 249); border-collapse: collapse; border-spacing: 0px; border: 1px solid rgb(238, 238, 238); width: 100%; }
table.case-details td { padding: 6px; }
table.case-details tr.odd td { background: rgb(255, 255, 255); }
table.case-details td.var { color: rgb(136, 136, 136); text-align: right; width: 130px; }
table.case-details td.val { color: rgb(0, 0, 0); }
table.border { border-collapse: collapse; border-spacing: 0px; border-right: 1px solid rgb(238, 238, 238); border-bottom: 1px solid rgb(238, 238, 238); }
table.border td { border-top: 1px solid rgb(238, 238, 238); border-left: 1px solid rgb(238, 238, 238); }
table.border span { color: rgb(136, 136, 136); }
table.order-list { border-collapse: collapse; border-spacing: 0px; width: 100%; }
table.order-list td { border: 1px solid rgb(238, 238, 238); }
table.order-list a { margin: 0px 9px 0px 0px; }
table.order-list span.number { font-size: 11px; }
.comment-container { background: rgb(249, 249, 249); border: 1px solid rgb(238, 238, 238); margin: 0px 0px 18px; }
.comment-container .header { background: rgb(238, 238, 238); font-size: 11px; padding: 6px 18px; }
.comment-container span.name { color: rgb(0, 0, 0); }
.comment-container span.rating { margin: 0px 9px; vertical-align: middle; }
.comment-container .content { padding: 18px; }
.comment-form { background: rgb(249, 249, 249); border: 1px solid rgb(238, 238, 238); color: rgb(102, 102, 102); margin: 0px 0px 18px; padding: 18px; }
.comment-form h3 { font-size: 14px; margin: 0px 0px 18px; }
.comment-form h5 { color: rgb(102, 102, 102); font-size: 14px; margin: 0px 0px 18px; }
.comment-form input.cat_textbox_small, .comment-form textarea { width: 300px; }
.comment-form textarea { height: 120px; }
table.faq-search { background: rgb(249, 249, 249); border-collapse: collapse; border-spacing: 0px; border: 1px solid rgb(238, 238, 238); margin: 0px 0px 18px; width: 100%; }
table.faq-search label { color: rgb(136, 136, 136); }
table.faq-search td { border-collapse: collapse; border-spacing: 0px; padding: 9px; }
table.faqresultstable { background: rgb(255, 255, 255); border-collapse: collapse; border-spacing: 0px; border: 1px solid rgb(238, 238, 238); width: 100%; }
table.faqresultstable td { color: rgb(102, 102, 102); padding: 9px; }
table.faqresultstable a { color: rgb(25, 105, 188); }
table.faqresultstable td.faqresultstableinfo { background: rgb(249, 249, 249); color: rgb(136, 136, 136); font-size: 10px; padding: 3px 18px; text-align: right; }
table.faqresultstable td.faqresultstablecount { padding-left: 18px; width: 10px; }
td.faqresultstablehead { background: rgb(255, 255, 255); border-collapse: collapse; border-spacing: 0px; border-bottom: 1px solid rgb(238, 238, 238); color: rgb(0, 0, 0); font-weight: bold; }
.forum-container h1 { font-size: 24px; }
table.topic-list, div.forum-posts-container div.post-list, div.forum-registration { color: rgb(102, 102, 102); }
div.forum-posts-container div.post-list a, div.forum-registration a { color: rgb(25, 105, 188); }
div.forum-registration h2 { color: rgb(0, 0, 0); }
table.forum { background: rgb(249, 249, 249); border-collapse: collapse; border-spacing: 0px; border: 1px solid rgb(238, 238, 238); margin: 0px; width: 100%; }
table.forum td { font-size: 11px; padding: 9px; vertical-align: top; }
table.forum td.topics { border-left: 1px solid rgb(238, 238, 238); border-right: 1px solid rgb(238, 238, 238); width: 90px; }
table.forum td.posts { border-right: 1px solid rgb(238, 238, 238); width: 90px; }
table.forum td.lastpost { border-left: 1px solid rgb(238, 238, 238); width: 180px; }
table.forum .icon { float: left; width: 50px; }
table.forum .forum { margin: 0px 0px 0px 50px; }
table.forum h3 { margin: 0px; }
table.forum h3 a { text-decoration: none; }
ul.cap-top, ul.cap-bottom { font-size: 11px; height: 30px; margin: 0px 0px 18px; padding: 0px; }
ul.cap-bottom { margin: 18px 0px 0px; }
ul.cap-top li, ul.cap-bottom li { display: block; line-height: 30px; list-style: none; }
ul.cap-top li.user, ul.cap-bottom li.nav-page { float: left; width: 200px; }
ul.cap-top li.actions, ul.cap-bottom li.actions { float: right; font-size: 12px; text-align: right; width: 350px; }
ul.cap-top li.actions a, ul.cap-bottom li.actions a { float: right; margin: 0px; padding: 0px 9px; }
table.topic-list { background: rgb(249, 249, 249); border-collapse: collapse; border-spacing: 0px; border-left: 1px solid rgb(238, 238, 238); border-right: 1px solid rgb(238, 238, 238); width: 100%; }
table.topic-list th { background: rgb(221, 221, 221); border: 1px solid rgb(221, 221, 221); color: rgb(0, 0, 0); font-size: 10px; padding: 6px; text-align: left; }
table.topic-list .name { font-weight: bold; width: 60%; }
table.topic-list .name .icon { float: left; width: 30px; }
table.topic-list .replies, table.topic-list .views { font-size: 10px; text-align: center; width: 10%; }
table.topic-list .date { font-size: 10px; text-align: right; width: 20%; }
table.topic-list td { padding: 0px; }
table.topic-list a { color: rgb(25, 105, 188); }
table.topic { border-collapse: collapse; border-spacing: 0px; border-bottom: 1px solid rgb(238, 238, 238); margin: 0px; width: 100%; }
table.topic td { padding: 9px; }
table.topic td.name, table.topic td.replies, table.topic td.views { border-right: 1px solid rgb(238, 238, 238); vertical-align: middle; }
.forum-registration { border: 1px solid rgb(238, 238, 238); background: rgb(249, 249, 249); padding: 18px; }
.forum-registration input.cat_textbox, .forum-registration textarea.cat_textbox { width: 260px; }
.forum-registration input.cat_button { margin: 0px 6px 0px 0px; }
.forum-posts-container .breadcrumb { font-size: 11px; padding: 6px; }
.forum-posts-container h1 { font-size: 18px; margin: 18px 0px; }
.forum-posts-container h2 { background: rgb(238, 238, 238); border: 1px solid rgb(238, 238, 238); color: rgb(136, 136, 136); font-size: 10px; font-weight: normal; margin: 0px; padding: 3px 18px; }
.forum-posts-container table.container { border-collapse: collapse; border-spacing: 0px; width: 100%; }
.forum-posts-container td { background: rgb(249, 249, 249); border: 1px solid rgb(221, 221, 221); padding: 18px; vertical-align: top; }
.forum-posts-container td.author { font-size: 11px; width: 160px; }
.forum-posts-container h3.name { color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; }
.forum-posts-container tr.sub td { height: 30px; padding: 0px 18px; }
.forum-posts-container td.action a { float: right; line-height: 30px; }
p.literature-container img { vertical-align: middle; }
p.literature-container span.icon, p.literature-container span.name { margin: 0px 3px 0px 0px; }
.case-search { background: rgb(249, 249, 249); border: 1px solid rgb(238, 238, 238); margin: 0px 0px 18px; padding: 18px; }
.secure-lost-password { background: rgb(249, 249, 249); border: 1px solid rgb(238, 238, 238); padding: 18px; }
.secure-lost-password input.cat_textbox_small { width: 210px; }
.secure-update-details { background: rgb(249, 249, 249); border: 1px solid rgb(238, 238, 238); margin: 0px 0px 18px; padding: 18px; }
.secure-update-details input.cat_textbox, .secure-update-details select.cat_dropdown { width: 260px; }
.product-form h3 { padding-left: 9px; }
.secure-login, .newsletter-form { background: rgb(249, 249, 249); border: 1px solid rgb(242, 242, 242); margin-bottom: 18px; }
.secure-login h3, .newsletter-form h3 { background: rgb(238, 238, 238); border-bottom: 1px solid rgb(238, 238, 238); font-size: 14px; margin: 0px; padding: 6px 18px; }
.secure-login div.form, .newsletter-form div.form { padding-left: 9px; }
.search-box { padding: 6px; }
.search-box input.cat_textbox_small { margin: 0px 3px 0px 0px; }
#imageContainer img { margin: 0px; }
table.photogalleryTable td { padding: 9px; }
table.affiliate-stats { border: 1px solid rgb(215, 215, 215); border-collapse: collapse; }
table.affiliate-stats td { border: 1px solid rgb(215, 215, 215); padding: 6px; }
table.affiliate-stats td.var { color: rgb(136, 136, 136); }
.tell-a-friend { border: 2px solid rgb(51, 51, 51); background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); padding: 18px; }
.tell-a-friend form { padding: 0px 0px 0px 36px; }
.tell-a-friend h1 { border-bottom: 1px solid rgb(204, 204, 204); color: rgb(34, 34, 34); font-size: 18px; margin: 0px; padding: 0px 0px 6px; }
.tell-a-friend h2 { border-bottom: 1px dotted rgb(204, 204, 204); color: rgb(34, 34, 34); font-size: 12px; margin: 18px 0px 9px; }
.tell-a-friend td.var { text-align: right; width: 130px; }
.tell-a-friend td { font-size: 11px; vertical-align: top; }
.tell-a-friend label { color: rgb(136, 136, 136); font-size: 11px; }
.tell-a-friend input.cat_textbox_small { height: 21px; }
.tell-a-friend input.cat_textbox_small, .tell-a-friend textarea.cat_listbox { font-size: 11px; width: 300px; }
.favourite-registration { border: 1px solid rgb(238, 238, 238); background: rgb(249, 249, 249); padding: 18px; }
.favourite-registration input.cat_textbox, .favourite-registration textarea.cat_textbox { width: 260px; }
.favrourite-registration input.cat_button { margin: 0px 6px 0px 0px; }
.browse-panel { border: 1px solid rgb(215, 215, 215); }
.browse-panel h5 { background: url("/CatalystImages/shop_bg-browse-panel.png") repeat-x rgb(238, 238, 238); border-bottom: 1px solid rgb(215, 215, 215); font-size: 14px; margin: 0px; padding: 9px; }
.browse-panel h6 { background: rgb(247, 247, 247); font-size: 11px; font-weight: bold; margin: 0px; padding: 3px 9px; }
.browse-panel ol { background: rgb(255, 255, 255); border-bottom: 1px solid rgb(231, 231, 231); margin: 0px; padding: 9px; }
.browse-panel ol.browse-catalogue { border-bottom: none; }
.browse-panel li { list-style: none; padding: 3px 9px; }
.browse-panel li span { display: inline; font-weight: bold; }
img.drag { position: relative; padding: 0.5em; margin: 0px; cursor: move; }
.slidertrack { background-color: rgb(215, 215, 215); color: rgb(51, 51, 51); float: left; margin: 0px; line-height: 0px; font-size: 0px; text-align: left; padding: 4px; border-width: 1px; border-style: solid; border-image: initial; border-color: rgb(204, 204, 204) rgb(170, 170, 170) rgb(170, 170, 170) rgb(204, 204, 204); }
.slidertrack .sliderslit { background-color: rgb(51, 51, 51); color: rgb(204, 204, 204); height: 2px; margin: 4px 4px 2px; line-height: 0px; position: absolute; z-index: 1; border-width: 1px; border-style: solid; border-image: initial; border-color: rgb(153, 153, 153) rgb(221, 221, 221) rgb(221, 221, 221) rgb(153, 153, 153); }
.slidertrack .slider { width: 16px; background-color: rgb(85, 85, 85); color: rgb(51, 51, 51); position: relative; margin: 0px; height: 8px; z-index: 1; line-height: 0px; font-size: 0px; text-align: left; border-width: 2px; border-style: solid; border-image: initial; border-color: rgb(153, 153, 153) rgb(34, 34, 34) rgb(34, 34, 34) rgb(153, 153, 153); }
#zoomcontainer { overflow: hidden; position: relative; }
#zoomcontainer img { position: absolute; }
ul.pagination { margin: 0px; padding: 0px; }
ul.pagination li { display: inline; list-style: none; margin: 0px 2px; }
